

<nav class="navbar navbar-expand-sm bg-primary navbar-dark ">
  <div class="container-fluid center">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 centeritem ">
      <li class="nav-item">
        <a class="nav-link fontwhite" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"> Login
        </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-sm btn-light fontwhite" type="button" style="color:black;">Register</button>

      </li>
    </ul>
  </div>
</nav>
<div class="container p-5 my-5 ">
  
</div>
<div class="d-flex justify-content-center">
  <div class="card centeritem shadow-sm" style="width: 400px;">
    <h1 class="">Login</h1>
    <div class="card-body">
      <input type="text" class="form-control shadow-sm" placeholder="Username">
      <input type="password" class="form-control shadow-sm" placeholder="Password">
      <br>
      <div class="d-grid gap-2 col-auto mx-auto">
      <button class="btn btn-lg btn-outline-danger centeritem shadow-sm" >Login</button>
    </div>
    </div>
  </div>
</div>