<div class="block">
    <div class="block">
    <div class="btn btn-primary " routerLink="/login">login</div>  
</div>
<div class="block">
    <div class="btn btn-primary " routerLink="/howcan">HowCanHelp</div>  
</div>
<div class="block">
    <div class="btn btn-primary " routerLink="/report" >Report</div>  
</div>

</div>

<!-- Toolbar <app-frontend></app-frontend> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
