
.block{  
    padding: 5px;
    left: 0px;
    right: 0px;
    position: relative;
  /*  border: 1px solid #000;*/
    background: black;
    margin-left: 20px;
}
.space{
    flex: 1;
}
.bg{
  background: black;
  position: relative;
}