<div class="bg row">
    <div class="block">
        <div class="btn btn-primary col" routerLink="/login">login</div>&nbsp;
        <div class="btn btn-primary  col" routerLink="/howcan">HowCanHelp</div>&nbsp;
        <div class="btn btn-primary col" routerLink="/howcan">HowCanHelp</div>&nbsp;
        <div class="btn btn-primary col" routerLink="/report">Report</div>&nbsp;
        <div class="btn btn-primary col" routerLink="/responsive">Reponsive</div>
    </div>
</div>

<!-- Toolbar <app-frontend></app-frontend> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>