
.block{  
    
    position: relative;
  /*  border: 1px solid #000;*/
    background: black;
 
}
.space{
    flex: 1;
}
.bg{
  background: black;
  position: relative;
  
}.row{
  --bs-gutter-x:0;
  justify-items: center;
  display: flex;
}
.item{
  width: 120px;
}